<main class="main">
  <div class="navbar">
      <div class="nav-item" (click)="navigateTo('/warehouse')">Warehouse</div>  
    <div class="nav-item" (click)="navigateTo('/product')">Product</div>  
    <div class="nav-item" (click)="navigateTo('/item')">Item</div>  
    <div class="nav-item" (click)="navigateTo('/receipt')">Receipt</div>  
    <div class="nav-item" (click)="navigateTo('/user')">User</div>  
    <div class="nav-item" (click)="navigateTo('/receiptitem')">ReceiptItem</div>  
    <div class="nav-item" (click)="navigateTo('/address')">Address</div>  
  </div>
</main>
<router-outlet></router-outlet>