<main class="main">
  <div class="content">
  <div (click)="navigateTo('/warehouse')">
   	Warehouse
   </div>  
<div (click)="navigateTo('/product')">
   	Product
   </div>  
<div (click)="navigateTo('/item')">
   	Item
   </div>  
<div (click)="navigateTo('/receipt')">
   	Receipt
   </div>  
<div (click)="navigateTo('/user')">
   	User
   </div>  
<div (click)="navigateTo('/receiptitem')">
   	ReceiptItem
   </div>  
<div (click)="navigateTo('/address')">
   	Address
   </div>  
  </div>
</main>
<router-outlet></router-outlet>