<div class="wrapper">
  <div class="table-container">
    <table class="data-table">
	  <thead>
	    <tr>
	    	      <th>Name</th>
	      <th>Size</th>
	      <th></th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr *ngFor="let item of data">
	      <th>{{ item.name }}</th>
	      <th>{{ item.size }}</th>
	      <td><button class="delete-btn" (click)="delete(item.id)">Delete</button></td>
	      <td><button class="submit-btn" (click)="selectedItem = item">Edit</button></td>
	    </tr>
	  </tbody>
	</table>
  </div>
  <div class="form-container">
	<form #entityForm="ngForm" (ngSubmit)="selectedItem ? edit(entityForm.value) : create(entityForm.value)">
	  <label for="name">Name:</label>
	  <input type="text" id="name" name="name" [ngModel]="selectedItem ? selectedItem.name : null" required>
	
	  <label for="size">Size:</label>
	  <input type="number" id="size" name="size" [ngModel]="selectedItem ? selectedItem.size : null" required>

	
	<div *ngIf="!selectedItem">
	  <button class="submit-btn" type="submit">Create</button>
	</div>
	<div *ngIf="selectedItem">
	  <button class="submit-btn">Edit</button>
	</div>
	</form>
  <div>
</div>