<div class="wrapper">
  <div class="table-container">
    <table class="data-table">
	  <thead>
	    <tr>
	      <th>Id</th>
	      	      <th>Warehouse</th>   
	      <th>User</th>   
	      <th>Country</th>   
	      <th>City</th>   
	      <th>Street</th>   
	      <th>StreetNumber</th>   
		  <th></th>
		  <th></th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr *ngFor="let item of data">
	      <td>{{ item.id }}</td>
		  <td>{{ item.warehouseId }}</td>
		  <td>{{ item.userId }}</td>
	      <td>{{ item.country }}</td>
	      <td>{{ item.city }}</td>
	      <td>{{ item.street }}</td>
	      <td>{{ item.streetNumber }}</td>
		  <td><button class="submit-btn" (click)="selectedItem = item">Edit</button></td>
		  <td><button class="delete-btn" (click)="delete(item.id)">Delete</button></td>
	    </tr>
	  </tbody>
	</table>
  </div>
  <div class="form-container">
  	<div class="create-btn-wrapper">
	  <button class="submit-btn" (click)="selectedItem = null">Open create form</button>
	</div>
	<h2 *ngIf="!selectedItem">Create form</h2>
	<h2 *ngIf="selectedItem">Edit form</h2>
	<form #entityForm="ngForm" (ngSubmit)="selectedItem ? edit(entityForm.value) : create(entityForm.value)">		
	      <label for="warehouse">Warehouse:</label>
		  <select id="warehouse" name="warehouse" [ngModel]="selectedItem ? selectedItem.warehouseId : null">
			  <option *ngFor="let item of warehouses" [value]="item.id">{{ item.id }}</option>
		  </select> 
	      <label for="user">User:</label>
		  <select id="user" name="user" [ngModel]="selectedItem ? selectedItem.userId : null">
			  <option *ngFor="let item of users" [value]="item.id">{{ item.id }}</option>
		  </select> 
	      <label for="country">Country:</label>
    	  <input type="text" id="country" name="country" [ngModel]="selectedItem ? selectedItem.country : null" required>
	      <label for="city">City:</label>
    	  <input type="text" id="city" name="city" [ngModel]="selectedItem ? selectedItem.city : null" required>
	      <label for="street">Street:</label>
    	  <input type="text" id="street" name="street" [ngModel]="selectedItem ? selectedItem.street : null" required>
	      <label for="streetNumber">StreetNumber:</label>
    	  <input type="text" id="streetNumber" name="streetNumber" [ngModel]="selectedItem ? selectedItem.streetNumber : null" required>
	<div *ngIf="!selectedItem">
	  <button class="submit-btn" type="submit">Create</button>
	</div>
	<div *ngIf="selectedItem">
	  <button class="submit-btn">Edit</button>
	</div>
	</form>
  <div>
</div>