<div class="wrapper">
  <div class="table-container">
    <table class="data-table">
	  <thead>
	    <tr>
	    	      <th>Price</th>
	      <th>Warehouse</th>
	      <th></th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr *ngFor="let item of data">
	  	  <td>{{ item.price }}</td>
	  	  <td>{{ item.warehouse?.name }}</td>
	      <td><button class="delete-btn" (click)="delete(item.id)">Delete</button></td>
	      <td><button class="submit-btn" (click)="selectedItem = item">Edit</button></td>
	    </tr>
	  </tbody>
	</table>
  </div>
  <div class="form-container">
  	<div class="create-btn-wrapper">
	  <button class="submit-btn" (click)="selectedItem = null">Open create form</button>
	</div>
	<h2 *ngIf="!selectedItem">Create form</h2>
	<h2 *ngIf="selectedItem">Edit form</h2>
	<form #entityForm="ngForm" (ngSubmit)="selectedItem ? edit(entityForm.value) : create(entityForm.value)">		
	      <label for="item">Item:</label>
		  <select id="item" name="item">
			  <option *ngFor="let item of items" [value]="item.id">{{ item.id }}</option>
		  </select> 
	      <label for="price">Price:</label>
    	  <input type="text" id="price" name="price" [ngModel]="selectedItem ? selectedItem.price : null" required>
	      <label for="warehouse">Warehouse:</label>
    	  <input type="text" id="warehouse" name="warehouse" [ngModel]="selectedItem ? selectedItem.warehouse : null" required>
	<div *ngIf="!selectedItem">
	  <button class="submit-btn" type="submit">Create</button>
	</div>
	<div *ngIf="selectedItem">
	  <button class="submit-btn">Edit</button>
	</div>
	</form>
  <div>
</div>